@import "./../../variables.scss";

.hero {
}

.hero-container {
  position: relative;
  z-index: 1;
}

.hero-wrapper {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  flex-direction: column;

  canvas {
    opacity: 0;
    animation: opacityModel 1s forwards;
    animation-delay: 1.2s;
    @keyframes opacityModel {
      to {
        opacity: 1;
      }
    }
  }
}

.hero-content {
  position: relative;
  z-index: 5;
  width: 90%;
  order: 1;
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 0.25em;

  .hero-heading {
    font-size: 2em;
    margin-bottom: 0.15em;
    @media screen and (min-width: $small) {
      font-size: 2.5em;
      margin-bottom: 0.5em;
    }
    @media screen and (min-width: $medium) {
      font-size: 4.2em;
    }
  }

  .hero-desc {
    color: $font-color;
    text-shadow: 1px 1px 3px $bg;
    font-size: 1em;
    margin-bottom: 0.5em;
    @media screen and (min-width: $small) {
      font-size: 1.4em;
      margin-bottom: 1em;
    }
    @media screen and (min-width: $medium) {
      font-size: 1.8em;
    }
  }
  @media screen and (min-width: $medium) {
    margin: 0 auto;
    transform: translateY(-6em);
  }
}
/* KULAAA */

.hero-sphere {
  z-index: 5;
  order: 0;
  width: 100%;
  height: 50%;
  padding-top: 1em;
  @media screen and (min-width: $small) {
    height: 100%;
    max-height: 500px;
  }
  @media screen and (min-width: $medium) {
    max-height: 70%;
    padding-top: 0;
    margin: 0;
  }
}

/* Figure bg */
.hero-bg {
  position: absolute;
  top: 0;
  z-index: 0;
  width: 100%;
  height: 100%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px) brightness(1.2) contrast(1);
    animation: blur-hero-bg 2s forwards;
    animation-delay: $animation-delay;

    @keyframes blur-hero-bg {
      to {
        backdrop-filter: blur(10px) brightness(1) contrast(0.8);
      }
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 5;
  }
}
