// Colors
$off-white: #f9f9f9;
$header-font: #000; //#a6a6a6
$header-font-hover: #333333;
// Dimensions
$header-height: 64px;

* {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Mulish";
}

header {
  background-color: transparent;
  position: fixed;
  z-index: 99;
  height: $header-height;
  width: 100%;
  //border-bottom: 1px solid #e6e6e6;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(10px);
  }
  a {
    text-decoration: none;
    font-family: "Poppins";
    font-weight: 600;
    color: $header-font;
    font-size: 1em;
    white-space: nowrap;
    transition: 0.25s ease-out;
    &:hover {
      color: $header-font-hover;
    }
  }
}
.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 100%;
  padding: 0 20px;
  .header-logo {
    display: flex;
    align-items: center;
    height: 100%;
    a {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
    div {
      display: flex;
      align-items: center;
      transition: 0.2s ease-out;
      img {
      }
    }
    .logo-slide-wrapper {
      width: 100%;
    }
  }
  .header-navigation-wrapper {
    display: flex;
    gap: 42px;
    height: 100%;

    nav {
      display: flex;
      align-items: center;
      gap: 42px;
      height: 100%;
    }
    select {
      outline: none;
      border: 0;
      cursor: pointer;
      min-width: 100px;
      font-family: "Poppins";
      font-weight: 600;
      text-align: center;
      transition: 0.2s ease-out;
      background-color: transparent;
      color: $header-font;
      font-size: 1em;
      &:hover {
        color: $header-font-hover;
      }
    }
  }
}

main {
  background: $off-white;

  section {
    width: 100%;
    z-index: 50;
    position: relative;
    background-color: $off-white;
  }
}
// Headings
h1 {
  font-size: 3em;
  margin: 0;
}
h2 {
  font-size: 1.42em;
  margin: 0;
}
h3 {
  font-size: 2em;
  margin: 0;
}
// Home section
#home {
  height: unset;
}
.home-wrapper {
  .home-contents {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 100vh;
    background: linear-gradient(to right, $off-white 30%, transparent),
      url(../../src/assets/bg-1.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: top right -200px;
    background-size: 100% 100%;

    .home-personal-info {
      width: 100%;
      height: 100%;
      padding: 64px;
      box-sizing: border-box;
      top: 100px;
      position: fixed;
      z-index: 20;
      span {
        font-size: 1.1em;
        line-height: 32px;
        font-family: Mulish, sans-serif;
        img {
          width: 32px;
          transform: translateY(25%);
        }
      }
      .header-socials-wrapper {
        display: flex;
        gap: 20px;
      }
    }
  }
}

// About me section
.about-me-wrapper {
  display: flex;
  justify-content: center;
  .about-me-contents {
    display: flex;
    padding-top: 64px;
    padding-bottom: 64px;
    .about-me-image {
      width: 100%;
      img {
        width: 100%;
        border-radius: 32px;
      }
    }
    .about-me-info {
      p {
        text-align: justify;
      }
    }
  }
}

// Projects section
.projects-wrapper {
  display: flex;
  justify-content: center;
  .projects-contents {
    display: flex;
    flex-direction: column;
    .projects-heading {
      background: grey;
    }
    .project-wrapper {
      display: flex;

      .project-info-wrapper {
        background: crimson;
      }
      .project-image-wrapper {
        height: 200px;
        width: 200px;
        border: 1px solid #333;
      }
    }
  }
}
// Contact section
.contact-wrapper {
  display: flex;
  .contact-contents {
  }
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background-color: $off-white;
}

// Animations
.hover-underline {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $header-font-hover;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
