// Colors
$off-white: #f9f9f9;
$header-font: #111; //#a6a6a6
$header-font-hover: #333333;

$main-font: #333333;

$main-before: #e6e6e6;

$accent-color: #db1414; // hotter
$main-light: #555555;
// Dimensions
$mobilemin: 360px;
$mobile: 480px;
$tablet: 768px;
$pc: 1024px;
$pc2: 1200px;
$pc3: 1680px;
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0 !important;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish";
  background-color: $off-white;
  &:before {
    position: fixed;
    z-index: 999;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px 30px $off-white;
  }
  &:after {
    position: fixed;
    z-index: 999;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -15px 20px 40px $off-white;
  }
}

header {
  position: fixed;
  z-index: 999;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(20px);
  }
  a {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
    /*transition: 0.25s ease-out;
    &:hover {
      color: $header-font-hover;
    }*/
  }
}
.header-logo {
  position: fixed;
  left: 1em;
  top: 1em;
  transform: scale(1);
  a {
    display: block;
    display: flex;
    &:hover {
      .logo-slide-wrapper {
        img {
          transform: translateX(-100%);
        }
      }
    }
  }
  .logo-wrapper,
  .logo-slide-wrapper {
    img {
      height: 30px;
      filter: invert(0.2);
      transition: 0.7s ease-in-out;
    }
  }
  .logo-slide-wrapper {
    clip-path: inset(0px);
    img {
      transform: translateX(0%);
    }
  }
  @media screen and (min-width: 800px) {
    transform: scale(1.2);
    left: 1.8em;
    top: 1.2em;
  }
  @media screen and (min-width: 1600px) {
    left: 17.7em;
  }
  @media screen and (min-width: 2200px) {
    left: 25em;
  }
}
.header-socials-wrapper {
  display: flex;
  flex-direction: column;
  gap: 6px;
  position: fixed;
  top: 3.2em;
  left: 1.1em;
  z-index: 999;
  a {
    display: block;
    filter: drop-shadow(0 0 0px crimson);
    transition: 0.2s ease-out;
    img {
      width: 24px;
      display: block;
      filter: invert(0.3);
    }
    &:hover {
      filter: drop-shadow(0 0 2px crimson);
    }
  }
  @media screen and (min-width: 800px) {
    top: 4em;
    left: 1em;
    gap: 12px;
    a {
      img {
        width: 32px;
      }
    }
  }
  @media screen and (min-width: 1600px) {
    left: 16.9em;
  }
  @media screen and (min-width: 2200px) {
    left: 24.2em;
  }
}
.header-navigation {
  position: fixed;
  right: 0.25em;
  top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  a,
  select {
    color: $main-light;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: -0.075em;
    cursor: pointer;
    font-family: Mulish, sans-serif;
    font-weight: 900;
    width: 100%;
    text-align: right;
    margin-right: 32px;
    background: transparent;
  }
  select {
    outline: none;
    border: 0;
  }
  @media screen and (min-width: 800px) {
    a,
    select {
      font-size: 1em;
    }
  }
  @media screen and (min-width: 1600px) {
    right: 16em;
  }
}
// Headings
h1 {
  font-size: 4em;
  margin: 0;
}
h2 {
  font-size: 1.42em;
  margin: 0;
}
h3 {
  font-size: 2em;
  margin: 0;
}
a {
  text-decoration: none;
}
section {
  @media screen and (min-width: 800px) {
    padding-top: 10vh;
    padding-bottom: 10vh;
    &#home {
      padding-top: 0;
      padding-bottom: 0;
    }
  }
  & > * {
  }
  @media screen and (min-width: 768px) {
    & > * {
      padding: 0 10%;
    }
    .contact-wrapper {
      padding: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    & > * {
      padding: 0 20%;
    }
    .contact-wrapper {
      padding: 0;
    }
  }
}
// Home section
.home-wrapper {
  height: 95vh;
  overflow: hidden;
  @media screen and (min-width: 800px) {
    padding: 0 64px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 128px;
  }
  .home-contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    .home-front {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      @media screen and (min-width: 400px) {
        transform: scale(1.2);
      }
      @media screen and (min-width: 600px) {
        transform: scale(1.6);
      }
      h2 {
        font-size: 0.875em;
        text-transform: uppercase;
        color: $main-font;
        font-weight: 900;
        line-height: 3em;
        letter-spacing: 0.15em;
      }
      .home-heading {
        font-size: 4.5em;
        line-height: 0.8em;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        width: 360px;
        color: $main-font;

        span {
          color: $accent-color; //#eb2d2d lighter
        }
      }
    }
  }
}
.pre-heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $main-light;
  font-weight: 800;
  line-height: 2.5em;
  letter-spacing: 0.35em;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}
.heading {
  font-size: 2rem;
  line-height: 1em;
  letter-spacing: -0.05em;
  color: $main-light;
  font-weight: 700;
  font-family: Poppins;
  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1000px) {
    font-size: 4rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 5rem;
  }
  span {
    color: $main-before; //#eb2d2d lighter
  }
}

// About me section
.about-me-wrapper {
  display: flex;
  justify-content: center;
  background: $off-white;
  .about-me-contents {
    display: flex;
    padding-top: 128px;
    padding-bottom: 128px;

    .about-me-image {
      display: none;
      img {
        width: 100%;
        border-radius: 32px;
      }
    }
    .about-me-info {
      padding: 0 1em;

      p {
        text-align: justify;
      }
    }
  }
}

// Tech section
.tech-wrapper {
  display: flex;
  justify-content: center;
  background: $off-white;
  .tech-contents {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 128px;
    width: 100%;

    .tech-info {
      width: 100%;
      padding: 0 1em;
      @media screen and (min-width: 800px) {
        margin-left: 2em;
      }
      .tech-grid-l {
        //list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 32px 0 128px 0;
        padding: 0;
        li {
          display: flex;
          justify-content: space-between;
          width: 100vw;
          left: -35%;
          align-items: center;
          position: relative;
          padding: 0 2em 0 35%;
          flex: 1;
          font-weight: 600;
          border-top: 1px solid $main-before;
          &:last-child {
            border-bottom: 1px solid $main-before;
          }
          p {
            margin: 0;
            transition: 0.5s;
            position: relative;
            z-index: 5;
            display: flex;
            align-items: center;
            color: $accent-color;
            background-image: linear-gradient(to top, #333, #333);
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100% 0%;
            background-clip: text;
            transition: 0.25s;
            transition-timing-function: cubic-bezier(0.2, 0.64, 0.64, 0.94);
          }
          .p-1 {
            font-size: 4em;

            &:before {
              content: "";
              position: absolute;
              z-index: 1;

              width: 100%;
              right: 0;
              height: 100%;
              animation: techReveal linear forwards;
              animation-timeline: view();
              animation-range-start: contain -5vh;
              animation-range-end: contain 8vh;
            }
            @keyframes techReveal {
              to {
                width: 0%;
              }
            }
          }
          .p-2 {
            font-size: 1em;
            width: 30%;
            color: transparent;
            margin-right: 20%;
            @media screen and (min-width: 1200px) {
              margin-right: 30%;
              font-size: 1.5em;
            }
          }
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            left: -10%;
            height: 0;
            background-color: $accent-color;
            transition: 0.25s;
            transition-timing-function: cubic-bezier(0.2, 0.64, 0.64, 0.94);
            z-index: 3;
          }
          &:hover {
            p {
              color: rgba(0, 0, 0, 0.25);
              background-size: 100% 100%;
            }
            &:before {
              height: 100%;
            }
          }
        }
      }
      .tech-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 32px 0 128px 0;
        padding: 0;
        background: pink;
        overflow: hidden;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 33.33%;
          height: auto;
          aspect-ratio: 1/1;
          position: relative;
          clip-path: inset(0px);
          background: $off-white;

          &:hover {
            &:before {
              padding: 75%;
            }
            .p-1 {
              opacity: 0;
            }
            .p-2 {
              opacity: 1;
              line-height: 1em;
            }
          }
          &:before {
            content: "";
            position: absolute;
            margin: auto;
            padding: 0%;
            background-color: $accent-color;
            border-radius: 100%;

            transition: 0.3s ease-in;
          }
          p {
            text-transform: uppercase;
            color: $main-light;
            font-weight: 800;
            line-height: 1em;
            text-align: center;
            letter-spacing: 0.1em;
            position: absolute;
            transition: 0.15s;
            &.p-1 {
              opacity: 1;
              font-size: 0.8em;
            }
            &.p-2 {
              font-size: 3.5vw;
              padding: 2px;
              opacity: 0;
              color: $off-white;
              text-align: center;
              letter-spacing: -0.05em;

              @media screen and (min-width: 768px) {
                font-size: 2.8vw;
              }
            }
          }
        }
      }
      p {
        text-align: justify;
      }
    }
    .tech-image {
      display: none;
      img {
        width: 100%;
        border-radius: 32px;
      }
    }
  }
}

// Projects section
.projects-wrapper {
  display: flex;
  justify-content: center;
  background: $off-white;
  .projects-contents {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 128px;
    width: 100%;
    padding: 0 1em;
    .project-wrapper {
      .project-info-wrapper {
      }
      .project-image-wrapper {
        height: 200px;
        width: 200px;
        border: 1px solid #333;
      }
    }
  }
}
// Motto div
.motto-wrapper {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 50vh;
  width: 100%;
  .scroll-reveal {
    background-image: linear-gradient(270deg, $accent-color, $accent-color);
  }
  * {
    transform: translateY(-20%);
  }
  .motto-background {
    transform: translateY(0%);
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 150%;
    background-position-x: 50%;

    background-image: url(../../src/assets/codeispoetry.jpg);
    @media screen and (min-width: 1400px) {
      background-size: 100%;
    }
  }
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    //background-color: rgba(255, 255, 255, 0.25);
  }

  .pre-heading {
  }
  .heading {
  }
}

// Contact section
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding-top: 80px;
  padding-bottom: 80px;
  background: $off-white;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../src/assets/trusttheprocess-transparent-notext.png);
    background-repeat: no-repeat;
    background-position-x: -5%;
    background-position-y: 100%;
    bottom: 0;
    background-size: 40%;
    transform: scaleX(-1);
    filter: invert(0.6);

    @media screen and (min-width: 1250px) {
      background-size: 20%;
      background-position-x: -2%;
    }
    @media screen and (min-width: 2800px) {
      background-size: 15%;
      background-position-x: 5%;
    }
  }

  @media screen and (min-width: 800px) {
    padding-top: 256px;
    padding-bottom: 256px;
  }
  .contact-contents {
    padding: 10% 1em;
    position: relative;

    @media screen and (min-width: 768px) {
      padding: 10% 10%;
    }
    @media screen and (min-width: 1200px) {
      padding: 10% 20%;
    }
  }
  .button-wrapper {
    padding: 32px 0;
    width: 100%;
    display: flex;
    justify-content: center;

    //background: pink;
  }
}
// CTA Button
.cta-button {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.25em 0.25em 1.25em;
  background: $accent-color;
  color: #efefef;
  border-radius: 100px;
  column-gap: 1em;
  @media screen and (min-width: 800px) {
    margin-top: 32px;
    transform: scale(1.5);
  }
  &:hover {
    .button-icon {
      .button-icon-bg {
        transform: scale(1);
      }
      svg {
        opacity: 1;
      }
    }
  }
  .button-text {
  }
  .button-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;

    .button-icon-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #efefef;
      transform: scale(0.2);
    }
    .button-icon-bg,
    svg {
      transition: transform 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
    }
    svg {
      width: 1.5em;
      height: 1.5em;
      opacity: 0;
      mix-blend-mode: difference;
    }
  }
}
// Footer
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  z-index: 1000;
  position: relative;
  background-color: $off-white;
}

// Animations

// Hover underline
.hover-underline {
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $header-font-hover;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
// Menu hover mirror lift
.hover-lift {
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: flex-end;
  clip-path: inset(0px);
  span {
    display: block;
    position: absolute;
    transition: 0.2s ease-out;
    &.hover-lift-deep {
      background-color: none;
      transform: translateY(0%);
      color: $main-light;
    }
    &.hover-lift-active {
      color: #999;
      transform: translateY(100%);
    }
  }
  &:hover,
  &:active {
    .hover-lift-deep {
      transform: translateY(-100%);
    }
    .hover-lift-active {
      transform: translateY(0%);
    }
  }
}
// Menu highlight class added by JS
.active {
  .hover-lift-deep {
    transform: translateY(-100%) !important;
  }
  .hover-lift-active {
    transform: translateY(0%) !important;
  }
}

// Headings scroll reveal
.scroll-reveal {
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(270deg, $main-light, $main-light);
  filter: saturate(150%);
  -webkit-background-clip: text; /* Prefix for background-clip */
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  -webkit-animation: scroll-reveal linear forwards; /* Prefix for animation */
  animation: scroll-reveal linear forwards;
  -webkit-animation-timeline: view(); /* Prefix for animation-timeline */
  animation-timeline: view();
  -webkit-animation-range: contain; /* Prefix for animation-range */
  animation-range: contain;
  -webkit-animation-range-start: contain -20vh; /* Prefix for animation-range-start */
  animation-range-start: contain -20vh;
  -webkit-animation-range-end: contain 20vh; /* Prefix for animation-range-end */
  animation-range-end: contain 20vh;
  display: inline;
  &.shorter {
    -webkit-animation-range-start: contain 0vh; /* Prefix for animation-range-start */
    animation-range-start: contain 2vh;
  }
}

@-webkit-keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}

// Class added to .strong class when element reaches half of window height
.in-middle {
  color: $accent-color;
}
.strong {
  transition: 0.3s ease-out;
}

// Stroke text
/*svg {
  display: block;
  font: 10.5em "Montserrat";
  width: 960px;
  height: 300px;
  margin: 0 auto;
}*/

.text-copy {
  fill: none;
  stroke: white;
  stroke-dasharray: 6% 29%;
  stroke-width: 5px;
  stroke-dashoffset: 0%;
  animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1) {
  stroke: #4d163d;
  animation-delay: -1;
}

.text-copy:nth-child(2) {
  stroke: #840037;
  animation-delay: -2s;
}

.text-copy:nth-child(3) {
  stroke: #bd0034;
  animation-delay: -3s;
}

.text-copy:nth-child(4) {
  stroke: #bd0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5) {
  stroke: #fdb731;
  animation-delay: -5s;
}

@keyframes stroke-offset {
  100% {
    stroke-dashoffset: -35%;
  }
}

// Onload header animations
.show-up {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.5s, transform 0.5s;
  animation: showUp1 1.5s forwards;
  animation-delay: 0.5s;
  @keyframes showUp1 {
    0% {
      opacity: 0;
      transform: translateY(50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  span {
    color: rgba(0, 0, 0, 0);
    filter: saturate(1.5);
    background-image: linear-gradient(to top, $accent-color, $accent-color);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 100% 0%;
    background-clip: text;
  }
}
.show-up-2 {
  opacity: 0;
  transform: translateY(35px);
  transition: opacity 0.5s, transform 0.5s;
  animation: showUp2 1.5s forwards;
  animation-delay: 1.5s;
  @keyframes showUp2 {
    0% {
      opacity: 0;
      transform: translateY(35px);
    }
    100% {
      opacity: 1;
      transform: translateY(10px);
    }
  }
}
.background-p {
  background: url("../../src/assets/hustler_2.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;
  position: relative;
  @media screen and (orientation: landscape) and (max-width: 1999px) {
    background-position-y: -200px;
  }
  @media screen and (orientation: landscape) and (min-width: 2000px) {
    background-position-y: -600px;
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(0.5px);
  }
}
