// Colors
$off-white: #f9f9f9;
$header-font: #111; //#a6a6a6
$header-font-hover: #333333;

$main-font: #333333;
$main-light: #555555;
$main-before: #e6e6e6;
//$accent-font: crimson;
$accent-color: #db1414; // hotter
// Dimensions
$mobilemin: 360px;
$mobile: 480px;
$tablet: 768px;
$pc: 1024px;
$pc2: 1200px;
$pc3: 1680px;
html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  width: 0 !important;
}
body {
  padding: 0;
  margin: 0;
  font-family: "Mulish";
  overflow-x: hidden;

  &:before {
    position: fixed;
    z-index: 999;
    content: "";
    width: 100%;
    top: 0;
    left: 0;
    box-shadow: 0 10px 20px 30px $off-white;
  }
  &:after {
    position: fixed;
    z-index: 999;
    content: "";
    width: 100%;
    bottom: 0;
    left: 0;
    box-shadow: 0 -15px 20px 40px $off-white;
  }
}

header {
  background-color: pink;
  position: fixed;
  z-index: 999;
  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(20px);
  }
  a {
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1em;
    white-space: nowrap;
    /*transition: 0.25s ease-out;
    &:hover {
      color: $header-font-hover;
    }*/
  }
}
.header-logo {
  position: fixed;
  left: 1em;
  top: 1em;

  a {
    display: block;
    display: flex;
    &:hover {
      .logo-slide-wrapper {
        img {
          transform: translateX(-100%);
        }
      }
    }
  }
  .logo-wrapper,
  .logo-slide-wrapper {
    img {
      height: 30px;
      filter: invert(0.2);
      transition: 0.7s ease-in-out;
    }
  }
  .logo-slide-wrapper {
    clip-path: inset(0px);
    img {
      transform: translateX(0%);
    }
  }
}
.header-navigation {
  position: fixed;
  right: 0.25em;
  top: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  a,
  select {
    color: $main-light;
    font-size: 0.8em;
    text-transform: uppercase;
    letter-spacing: -0.075em;
    cursor: pointer;
    font-family: Mulish, sans-serif;
    font-weight: 900;
    width: 100%;
    text-align: right;
    margin-right: 32px;
    background: transparent;
  }
  select {
    outline: none;
    border: 0;
  }
}
// Headings
h1 {
  font-size: 4em;
  margin: 0;
}
h2 {
  font-size: 1.42em;
  margin: 0;
}
h3 {
  font-size: 2em;
  margin: 0;
}
a {
  text-decoration: none;
}

// Home section
.home-wrapper {
  height: 95vh;
  @media screen and (min-width: 800px) {
    padding: 0 64px;
  }
  @media screen and (min-width: 1200px) {
    padding: 0 128px;
  }
  .home-contents {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 100;
    .home-front {
      text-align: center;
      display: flex;
      align-items: center;
      flex-direction: column;
      @media screen and (min-width: 400px) {
        transform: scale(1.2);
      }
      @media screen and (min-width: 600px) {
        transform: scale(1.6);
      }
      h2 {
        font-size: 0.875em;
        text-transform: uppercase;
        color: $main-font;
        font-weight: 900;
        line-height: 3em;
        letter-spacing: 0.15em;
      }
      .home-heading {
        font-size: 4.5em;
        line-height: 0.8em;
        letter-spacing: -0.05em;
        text-transform: uppercase;
        font-family: Poppins, sans-serif;
        font-weight: 600;
        width: 360px;
        color: $main-font;

        span {
          color: $accent-color; //#eb2d2d lighter
        }
      }
    }
    .header-socials-wrapper {
      display: flex;
      flex-direction: column;
      gap: 16px;
      position: fixed;
      bottom: 64px;
      left: 1em;
      z-index: 999;
      a {
        display: block;
        filter: drop-shadow(0 0 0px crimson);
        transition: 0.2s ease-out;
        img {
          width: 32px;
          display: block;
          filter: invert(0.25);
        }
        &:hover {
          filter: drop-shadow(0 0 2px crimson);
        }
      }
    }
  }
}
.pre-heading {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: $main-light;
  font-weight: 800;
  line-height: 2.5em;
  letter-spacing: 0.35em;
  @media screen and (min-width: 768px) {
    font-size: 1.5rem;
  }
}
.heading {
  font-size: 2.2rem;
  line-height: 0.8em;
  letter-spacing: -0.05em;
  color: $main-before;
  font-weight: 700;
  font-family: Poppins;
  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
  @media screen and (min-width: 1000px) {
    font-size: 4rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 5rem;
  }
  span {
    color: $main-before; //#eb2d2d lighter
  }
}

// About me section
.about-me-wrapper {
  display: flex;
  justify-content: center;
  background: $off-white;
  .about-me-contents {
    display: flex;
    padding-top: 128px;
    padding-bottom: 128px;

    .about-me-image {
      display: none;
      img {
        width: 100%;
        border-radius: 32px;
      }
    }
    .about-me-info {
      padding: 0 1em;

      p {
        text-align: justify;
      }
    }
  }
}

// Tech section
.tech-wrapper {
  display: flex;
  justify-content: center;
  background: $off-white;
  .tech-contents {
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 128px;
    width: 100%;

    .tech-info {
      width: 100%;
      padding: 0 1em;
      @media screen and (min-width: 800px) {
        margin-left: 2em;
      }
      .tech-grid-l {
        //list-style-type: none;
        display: flex;
        flex-direction: column;
        margin: 32px 0;
        padding: 0;
        li {
          display: flex;
          justify-content: space-between;
          width: 100vw;
          left: -35%;
          align-items: center;
          position: relative;
          padding: 0 2em 0 35%;
          flex: 1;
          font-weight: 600;
          border-top: 1px solid $main-before;
          &:last-child {
            border-bottom: 1px solid $main-before;
          }
          p {
            margin: 0;
            transition: 0.5s;
            position: relative;
            z-index: 5;
            display: flex;
            align-items: center;
            color: rgba(0, 0, 0, 0.25);
            background-image: linear-gradient(to top, #222, #222);
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100% 0%;
            background-clip: text;
            transition: 0.25s;
            transition-timing-function: cubic-bezier(0.2, 0.64, 0.64, 0.94);
          }
          .p-1 {
            font-size: 4em;
          }
          .p-2 {
            font-size: 1em;
            width: 30%;
            color: transparent;
            margin-right: 20%;
            @media screen and (min-width: 1200px) {
              margin-right: 30%;
              font-size: 1.5em;
            }
          }
          &:before {
            content: "";
            position: absolute;
            width: 100%;
            left: -10%;
            height: 0;
            background-color: $accent-color;
            transition: 0.25s;
            transition-timing-function: cubic-bezier(0.2, 0.64, 0.64, 0.94);
            z-index: 3;
          }
          &:hover {
            p {
              background-size: 100% 100%;
            }
            &:before {
              height: 100%;
            }
          }
        }
      }
      .tech-grid {
        display: flex;
        flex-wrap: wrap;
        margin: 32px 0;
        padding: 0;
        background: pink;
        overflow: hidden;
        li {
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 33.33%;
          height: auto;
          aspect-ratio: 1/1;
          position: relative;
          clip-path: inset(0px);
          background: $off-white;

          &:hover {
            &:before {
              padding: 75%;
            }
            .p-1 {
              opacity: 0;
            }
            .p-2 {
              opacity: 1;
              line-height: 1em;
            }
          }
          &:before {
            content: "";
            position: absolute;
            margin: auto;
            padding: 0%;
            background-color: $accent-color;
            border-radius: 100%;

            transition: 0.3s ease-in;
          }
          p {
            text-transform: uppercase;
            color: $main-light;
            font-weight: 800;
            line-height: 1em;
            text-align: center;
            letter-spacing: 0.1em;
            position: absolute;
            transition: 0.15s;
            &.p-1 {
              opacity: 1;
              font-size: 0.8em;
            }
            &.p-2 {
              font-size: 3.5vw;
              padding: 2px;
              opacity: 0;
              color: $off-white;
              text-align: center;
              letter-spacing: -0.05em;

              @media screen and (min-width: 768px) {
                font-size: 2.8vw;
              }
            }
          }
        }
      }
      p {
        text-align: justify;
      }
    }
    .tech-image {
      display: none;
      img {
        width: 100%;
        border-radius: 32px;
      }
    }
  }
}

// Projects section
.projects-wrapper {
  display: flex;
  justify-content: center;
  background: $off-white;
  .projects-contents {
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    padding-bottom: 128px;
    width: 100%;
    padding: 0 1em;
    .project-wrapper {
      .project-info-wrapper {
      }
      .project-image-wrapper {
        height: 200px;
        width: 200px;
        border: 1px solid #333;
      }
    }
  }
}
// Contact section
.contact-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background: $off-white;
  position: relative;

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../src/assets/trusttheprocess-transparent-notext.png);
    background-repeat: no-repeat;
    background-position-x: -5%;
    background-position-y: 100%;
    bottom: 0;
    background-size: 40%;
    transform: scaleX(-1);
    filter: invert(0.6);

    @media screen and (min-width: 1250px) {
      background-size: 20%;
      background-position-x: -2%;
    }
    @media screen and (min-width: 2800px) {
      background-size: 15%;
      background-position-x: 5%;
    }
  }

  @media screen and (min-width: 800px) {
    padding-top: 256px;
    padding-bottom: 256px;
  }
  .contact-contents {
    padding: 0 1em;
    position: relative;
    //background: blue;
  }
  .button-wrapper {
    padding: 32px 0;
    width: 50%;
    display: flex;
    justify-content: center;
    //background: pink;
  }
}

section {
  & > * {
  }
  @media screen and (min-width: 768px) {
    & > * {
      padding: 0 10%;
    }
  }
  @media screen and (min-width: 1200px) {
    & > * {
      padding: 0 20%;
    }
  }
}
// CTA Button
.cta-button {
  display: inline-flex;
  align-items: center;
  padding: 0.25em 0.25em 0.25em 1.25em;
  background: $accent-color;
  color: #efefef;
  border-radius: 100px;
  column-gap: 1em;
  @media screen and (min-width: 800px) {
    margin-top: 32px;
    transform: scale(1.5);
  }
  &:hover {
    .button-icon {
      .button-icon-bg {
        transform: scale(1);
      }
      svg {
        opacity: 1;
      }
    }
  }
  .button-text {
  }
  .button-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;

    .button-icon-bg {
      position: absolute;
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #efefef;
      transform: scale(0.2);
    }
    .button-icon-bg,
    svg {
      transition: transform 0.2s cubic-bezier(0.5, 0.7, 0.4, 1);
    }
    svg {
      width: 1.5em;
      height: 1.5em;
      opacity: 0;
      mix-blend-mode: difference;
    }
  }
}
// Footer
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  z-index: 1000;
  position: relative;
  background-color: $off-white;
}

// Animations
.hover-underline {
  // A hover underline
  display: inline-block;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px;
    bottom: 0;
    left: 0;
    background-color: $header-font-hover;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  &:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
}
.hover-lift {
  // A hover mirror to top
  position: relative;
  line-height: 1.5em;
  height: 1.5em;
  display: flex;
  justify-content: flex-end;
  clip-path: inset(0px);
  span {
    display: block;
    position: absolute;
    transition: 0.2s ease-out;
    &.hover-lift-deep {
      background-color: none;
      transform: translateY(0%);
      color: $main-light;
    }
    &.hover-lift-active {
      color: #999;
      transform: translateY(100%);
    }
  }
  &:hover,
  &:active {
    .hover-lift-deep {
      transform: translateY(-100%);
    }
    .hover-lift-active {
      transform: translateY(0%);
    }
  }
}
.scroll-reveal {
  line-height: 1.2em;
  color: rgba(0, 0, 0, 0.1);
  background-image: linear-gradient(270deg, $main-light, $main-light);
  filter: saturate(150%);
  background-clip: text;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  animation: scroll-reveal linear forwards;
  animation-timeline: view();
  animation-range: contain;
  animation-range-start: contain -35vh;
  animation-range-end: contain 20vh;
  display: inline;
  &.shorter {
    animation-range-start: contain -17vh;
    animation-range-end: contain 20vh;
  }
  span {
    line-height: 1.2em;
    color: rgba(0, 0, 0, 0.1);
    background-image: linear-gradient(270deg, $accent-color, $accent-color);
    filter: saturate(150%);
    background-clip: text;
    background-repeat: no-repeat;
    background-size: 0% 100%;
    animation: scroll-reveal linear forwards;
    animation-timeline: view();
    animation-range: contain;
    animation-range-start: contain 10vh;
    animation-range-end: contain 16vh;
    display: inline;
  }
}
@keyframes scroll-reveal {
  to {
    background-size: 100% 100%;
  }
}
.background-p {
  background: url("../../src/assets/hustler_2.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 55%;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: saturate(180%) blur(0.5px);
  }
}
