$bg: #121212;
$bg-secondary: #313131;
$font-color: #f2f2f2;

$borderRadiusLoader: 20px;

$burger-width: 50px;
$burger-line-width: 30px;
$burger-line-height: 3px;
$burger-gap: 5px;
$menu-bg: white;
$menu-width: 20em;

$color1: #a020f0;
$color2: #7a0bc0;
$color3: #00ffc2;
$color4: #00bfa5;
$color5: #007bff;
$color6: #21e1eb;
$color7: #ffd700;
$color8: #cfa400;
$color9: #39ff14;
$color10: #1f7a1f;
$gradient1: linear-gradient(45deg, #00ffc2, #008c72);
$gradient2: linear-gradient(45deg, #a020f0, #410080);
$gradient3: linear-gradient(45deg, #007bff, #003e8a);
$gradient4: linear-gradient(45deg, #ffd700, #a67c00);
$gradient5: linear-gradient(45deg, #39ff14, #135c13);

$animation-delay: 1s;
